body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #505050;
  width: 100vw;
  height:100vh;
  margin: 0;
  background-color: #2d77b3;
  /* Background pattern from Toptal Subtle Patterns, by Dimitar Karaytchev
  (https://www.toptal.com/designers/subtlepatterns/diamond-upholstery/) */
  background-image: url("../assets/diamond-upholstery.png");
}

.outer-container {

}

.inner-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 550px;
  height: 340px;
  padding: 80px 140px;
  background-color: white;
  box-shadow: 0px 0px 25px #1D4C73;
}

#main-title {
  font-size: 60px;
  color: #FFFFFF;
  background-color: #FF534D;
  width: 510px;
  padding: 15px 15px 10px 15px;
  margin: auto;
  margin-bottom: 27.5px;
}

#main-subtitle {
  font-size: 35px;
  color: #2983CC;
  margin-bottom: 27.5px;
}

hr {
  width: 550px;
  border: 1px solid #CECECE;
  margin-bottom: 27.5px;
}

#description {
  width: 550px;
  margin: auto;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 27.5px;
}

.navigation {
  margin: auto;
  width: 540px;
}

ul {
  list-style: none;
  width: 540px;
  padding: 0;
  font-size: 18px;
}

li {
  float: left;
  margin: 0px 25px;
  border: 2px solid #FAFF66;
  padding: 5px 8px;
}

li a {
  text-decoration: none;
  color: #585858;
}

li:hover {
  background-color: #FAFF66;
}

li:hover a {
  color: black;
}
