@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

.App {
  background-color: white;
  height: 100vh;
  text-align: center;
  font-family: 'Ubuntu Mono', sans-serif;
}

main {
  text-align: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  padding-top: 16px;
  padding-bottom: 60px;
}

.top-container {
  margin-bottom: 30px;
}

.content {
  width: 500px;
  float: left;
  margin: 20px 16px 0 0;
  font-size: 20px;
  line-height: 30px;
}

.greeting {
  font-family: 'Ubuntu Mono', serif;
  font-weight: bold;
  font-size: 48px;
  color: #5E43CA;
  margin-bottom: 39px;
}

.name:hover {
  border-bottom: 3px solid #FCE183;
}

p {
  margin: 8px 0;
}

.bold {
  font-weight: bold;
}

.summary:hover .highlight {
  text-decoration: underline;
  text-decoration-color: #FCE183;
}

.summary a {
  color: black;
  text-decoration-color: #FCE183;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul li {
  float: left;
  margin-bottom: 4px;
  font-size: 20px;
}

.embellishment {
  height: 320px;
}

footer {
  margin: 0;
  background-color: #242424;
  color: white;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 24px 0;
}

.medium-screen {
  display: none;
}

@media screen and (max-width: 990px){
  .container {
    width: calc(80%);
    display: flex;
    flex-direction: column;
  }
  .greeting {
    font-size: 40px;
    line-height: 50px;
  }
  .content {
    width: calc(100% - 340px);
    font-size: 18px;
    line-height: 27px;
  }
  .embellishment {
    width: 320px;
  }
}

@media screen and (max-width: 700px){
  .content {
    width: 100%;
  }
  .bottom-container {
    display: flex;
    flex-direction: row;
  }
  ul {
    flex-direction: column;
    justify-content: flex-start;
  }
  ul li {
    margin-bottom: 16px;
  }
  .medium-screen {
    display: block;
    height: 200px;
  }
  .large-screen {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .medium-screen {
    height: auto;
    width: 50%;
  }
}